.my-button.ant-btn {
  background-color: #1890ff;
  border-color: #1890ff;
}
.titleBtn {
  display: flex;
  justify-content: end;
  width: 100%;
}

.seach {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin: 20px 0;
}
::v-deep .ant-list-item,
.ant-list-item-meta {
  padding: 0 20px !important;
}
