/* AssignRoleModal.css */

.modal-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  margin: 20px;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.user-email {
  font-size: 16px;
  color: #888;
  text-decoration: underline;
}

.user-role {
  font-size: 16px;
  color: black; /* set "Current Role:" color is black*/
  margin-top: 8px;
}

.user-role span {
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 8px;
}

.role-1 {
  background-color: #e0f7fa;
  color: #006064;
}

.role-2 {
  background-color: #e1bee7;
  color: #6a1b9a;
}

.role-3 {
  background-color: #fff9c4;
  color: #f57f17;
}

.role-4 {
  background-color: #ffe0b2;
  color: #e65100;
}

.role-5 {
  background-color: #ffcdd2;
  color: #b71c1c;
}

.modal-body {
  margin-top: 20px;
}

.assign-role-text {
  margin-bottom: 10px;
  font-weight: bold;
}

.role-select {
  width: 60%; /* Shorten the width of the selection box */
}
