.fullHeight {
  height: 100vh;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.reportDetails {
  text-align: center;
  font-family: 'Times New Roman', serif;
  margin-top: 15vh;
}

.capstoneLogo {
  width: 170px;
  height: auto;
  margin-bottom: 20px;
}

.reportTitle {
  font-size: 45px;
  font-weight: bold;
  color: #000000;
  margin: 40px 0;
}

.reportSubtitle {
  font-size: 15px;
  color: #666666;
  margin-bottom: 40px;
}

.reportText {
  font-size: 18px;
  color: #000000;
  margin-bottom: 8px;
  font-family: 'Times New Roman', serif;
}

.text-left {
  text-align: left;
  padding: 20px 40px;
  margin: 20px;
}

.sectionTitle {
  font-size: 24px;
  font-weight: bold;
  color: #000000; 
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Times New Roman', serif;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}
